*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  /*   border: 2px solid black; */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

header{
    background-image: url(../src/image2.jpg);
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

nav{
    display: flex;
    flex-direction: column;
    padding: 10px 30px 10px 0px;    
    position:absolute;
    top: 50px;
    right: 0px;
 }
 .navMenu{
    display: block;
    /* width: 70px; */
    background-color: white;  
    padding: 5px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    color: black;    
}
.navMenu:focus{
    color: blue;
}

.short{
    display: none;
}
.encabezado{
    background-color: white;
    padding: 5px 30px 10px 0px;
    text-align: right;
    font-style: italic;
    font-weight: 500;
    color: black;
}
.logoMDHL{
    width: 150px;
    height: 150px;
    object-fit: contain;
    position: absolute;
    left: 0px;
    top: 50px;    
}
.mainHome{
    width: 100%;
    height: 400px;
    background-color: whitesmoke;
}

.articleMain{
    width: 80%;
    padding-top: 20px;
    position: relative;
    left: 300px;
}

.h2home{
    width: 200px;
    background-color: black;
    color: white;
    text-align: center;
    margin: 2px;
    position: relative;
    top: 15%;
 }
 .h2long{
    width: 80%;
    text-align: center;
 }
 .rulesflex{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 600px;
    width: 80%;
    padding-left: 60px;
 }
 .h3rules{
    width: 80%;
    text-align: center;
 }
 .p1Rules{
    text-align: justify;    
 }
 .pfirstline{
    text-indent: 30px;
 }
 .olRules{
    padding-left: 15px;
    text-align: justify;  
 }
 .alfabetico{
    list-style-type: lower-alpha;
 }
 .desordenada{
    padding-left: 60px;
    text-indent: 10px;
    list-style-type: circle;
 }
 .h3inline{
    display: inline-block;
 }
.mainForm{
    width: 70%;
    padding-left: 60px;
}

 .h1Form{
    text-align: center;
 }
.formName{
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
}
.formMany{
    display: flex;
    justify-content: space-evenly;
}
fieldset{
    border: 0;
    padding: 10px;
}

.desordenadaForm{
    padding-left: 30px;
    padding-right: 30px;
    text-indent: 10px;
    list-style-type: none;
 }
article{
    display:block;
}



footer{
    display: none;
}
/* Estilos para la pagina gameInfo.html */
.tableFlex{
    height: 100%;
    display: flex;
    justify-content: center;
}
.tablegame{
    border-collapse: separate;
    border-spacing: 20px 20px;
    table-layout: fixed;
}
.h3table{
    font-style: italic;
    text-align: left; 
}
.h4table{
    font-style: italic;
    font-weight: normal;
    text-decoration-line: underline;
    text-align: left; 
}
th{
    text-align: left;
}
.day{
    text-align: center;
}
.tablefoot{
    font-weight: bold;
    text-align: right;
}
.tdFoot{
    text-align: left;
}